.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem 1rem;
  gap: 1rem;
  width: 100%;
  background-color: var(--bg-color-sec);

  @media (min-width: 768px) {
    padding: 5rem 3rem;
  }

  .pricingCon {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    @media (min-width: 900px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .pricingItem {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      background-color: var(--accent-dark-green);

      border-radius: 1px;
      padding: 1rem;
      color: var(--text-color-light);
      max-width: 300px;

      h3 {
        color: var(--accent-color);
      }
    }
  }
}
