* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: clip;
  background-color: var(--bg-color-main);
  color: var(--text-color-main);
}

h2 {
  color: var(--header-color);
  font-family: "Playfair", serif;
  font-size: 2rem;
}

h3 {
  color: var(--header-color);
  font-family: "Playfair", serif;
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}
