:root {
  --nav-height: 4rem;
  --bg-color-main: hsl(200, 30%, 85%);
  --bg-color-sec: hsl(200, 30%, 95%);
  --nav-color: hsl(200, 20%, 40%);
  --text-color-main: hsl(176, 10%, 30%);
  --text-color-light: hsl(176, 10%, 90%, 0.9);
  --header-color: hsl(270, 10%, 30%);
  --header-color-light: hsl(280, 10%, 90%);
  --accent-color: hsl(50, 40%, 75%);
  --accent-dark-green: hsl(200, 30%, 20%);
}
